<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Store Master Table Data Tables</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script
	src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/js/transum.js"></script>

</head>

<body>
	<h1>Transaction Summary Table</h1>
	<table id="transumtable" class="display compact">

		<!-- Header Table -->
		<thead>
			<tr>
				<th>id</th>
				<th>l3_id</th>
				<th>store_id</th>
				<th>net_amt</th>
				<th>mkdn_amt</th>
				<th>gross_amt</th>
				<th>qty</th>
				<th>GM</th>
				<th>week_id</th>
				<th>l3_name</th>
			</tr>
		</thead>

		<!-- Footer Table -->
		<tfoot>
			<tr>
				<th>id</th>
				<th>l3_id</th>
				<th>store_id</th>
				<th>net_amt</th>
				<th>mkdn_amt</th>
				<th>gross_amt</th>
				<th>qty</th>
				<th>GM</th>
				<th>week_id</th>
				<th>l3_name</th>
			</tr>
		</tfoot>
	</table>
</body>
</html>